<h1><%= @user.name %></h1>
<em>joined on <%= @user.created_at.strftime('%B %d, %Y') %></em>

<% if @user.lists.any? then %>
    <h2>Lists</h2>
    <ul>
        <% for list in @user.lists %>
            <li><%= link_to list.name, list %> - <%= list.created_at.strftime('%B %d, %Y') %></li>
        <% end %>
    </ul>
<% else %>
    <p>
      <%= @user.name %> hasn't created any list yet :(
    </p>
<% end %>
